<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Ads</title>
  <metaname="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header id="adListHeader">
    <nav>
      <a href="/">
          <span class="logo"> Tight Spot</span>
        </a>
      <ul id="navList">
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/about">About </a></li>
      </ul>
    </nav>
  </header>

  <section id="adsContainer">
    <p>Here users can post ads looking for a home.<br>and those who are selling/renting can reach out to you and negotiate pricing and conditions.</p>
    <span><h4>Good luck!</h4></span>
  </section>

  <ul id="adsList">
    <h2 class="ad-text">Ad Listings</h2>
    <% for(var i=0; i<message.length; i++) {%>
      <li class="message ">
        <h2><a href="/posting/<%=message[i]._id%>">
            <%= message[i].adTitle %>
          </a></h2>
        <h6><%= message[i].zip %></h6>
        <p>
          <%= message[i].textArea %>
        </p>
      </li>
      <% } %>
  </ul>
  <script src="main.js"></script>
</body>

</html>