<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/login-style.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <title>Tight Spot</title>
</head>

<body>
  <section id="main-wrapper">
    <section class="left-container">
      <h1 class="get-started-text">Tight <span class="started-word">spot.</span></h1>
    </section>
    <section class="right-container-login">
      <h1 class="login-text">Login</h1>

      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>

          <form action="/login" method="POST">
            <fieldset>
              <legend> Email Address </legend>
              <input class="loginInput" placeholder="Email" type="text" name="email">
            </fieldset>
            <fieldset>
              <legend> Password</legend>
              <input class="loginInput" placeholder="Password" type="text" name="password">
            </fieldset>
            <button id="loginBtn" type="submit" name="button">
              Log in <i class="fas fa-arrow-right"></i>
            </button>
          </form>
          <a href="#" class="forgotPassword">Forgot password?</a>
          <h5><a href="/signup">Don't have an account?</a></h5>
    </section>
  </section>
</body>

</html>