@import url('https://fonts.googleapis.com/css?family=Roboto');

/* logo font */
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
font-family: 'Roboto', sans-serif;
outline: none;
font-weight: 100;
}

body {
margin: 0;
padding: 0;
}

header li{
  float: right;
  margin-right: 10px;
  font-size: 1.8em;
  font-weight: bold;
  list-style: none;
  color: white;
  text-decoration: none;
}

header a{
color: white;
text-decoration: none;
}

header{
  height: 100px;
  background: #84333D;
  padding: 0 34px;
}

.logo{
color: white;
font-size: 41px;
font-family: "Patua One", "roboto", sans-serif;
text-decoration: none;
}

#container{
width: 50%;
margin:34px auto;
border: 1px solid black;

}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
