@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
}

.logo{
  color: white;
  font-size: 55px;
  font-family: "Patua One", "roboto", sans-serif;
  text-decoration: none;
}

nav ul {
display: flex;
font-size: 1.8em;
list-style: none;
color: white;
margin-right: 10px;
text-decoration: none;
width: 13em;
justify-content: space-between;
}

header a{
color: white;
text-decoration: none;
}

  header{
  background: #1976d2;
  padding: 20px 34px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 45px;
}

header nav{
display: flex;
width: 100%;
justify-content: space-between;
flex-flow: row wrap;
align-items: center;
}


#postArea{
  width: 50%;
  margin: 10px auto;
  min-width: 450px;
}

#postTitle{
width: 50%;
}

#location{
margin: 0 0 0 23%;
width: 15%;
}

#inputSection{
width: 100%;
padding: 0;
margin: 0 0 10px 0;
min-width: 450px;
}

textarea{
font-size: 1.2em;
border: 1px solid black;
height: 400px;
width: 820px;
}


.emailFieldset{
margin-top: 10px;
width: 85.5%;
}

#contactSection input{
margin-bottom: 5px;
}

#contactSection{
min-width: 450px;
}

input{
border: 1px solid black;
}

#conditionSection{
width: 89%;
min-width: 450px;
}

.squareFeetInput{
width: 15%;
}

.minimum{
width: 10%;
}

.maximum{
width: 10%;
}

.phoneNumberInput{
width: 15%;
}

input{
padding: 5px;
}

h1{
text-align: center;
font-size: 35px;
}

/***************** mobile responsiveness **********************************/

@media only screen and (max-width: 745px){
  header nav{
    flex-direction: column;
  }

#contactSection fieldset{
width: 400px;

}
#contactSection label{
display: none;
}

#conditionSection{

}

#location{
margin: 0 0 0 15%;
}

header{
width: 100%;
text-align: center;
}

#conditionSection label{
display: none;
}

textarea{
width: 400px;
}

fieldset{
width: 400px;
}

#postArea{
margin-left: 20%;
}

.min .max{
display: inline;
}

button{
margin-left: 40%;
}

}
