@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
}

#postArea{
  width: 50%;
  margin: 10px auto;
}

#postTitle{
width: 50%;
}

#location{
margin: 0 0 0 23%;
width: 15%;
}

#inputSection{
width: 100%;
padding: 0;
margin: 0 0 10px 0;

}

textarea{
font-size: 1.2em;
border: 1px solid black;
}

#postHeader li{
  float: right;
  margin-right: 10px;
  font-size: 1.8em;
  font-weight: bold;
  list-style: none;
  color: white;
  text-decoration: none;
}

#postHeader a{
color: white;
text-decoration: none;
}

#postHeader{
  height: 100px;
  background: #84333D;
  padding: 0 34px;
}

.emailFieldset{
margin-top: 10px;
width: 85.5%;
}

#contactSection input{
margin-bottom: 5px;
}

input{
border: 1px solid black;
}

#conditionSection{
width: 89%;
}

.squareFeetInput{
width: 15%;
}

.minimum{
width: 10%;
}

.maximum{
width: 10%;
}

.phoneNumberInput{
width: 15%;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.logo{
color: white;
font-size: 41px;
font-family: "Patua One", "roboto", sans-serif;
text-decoration: none;
}

input{
padding: 5px;
}

textarea{
padding: 5px;
}
