@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
  font-family: 'Lato', sans-serif;
  outline: none;
  font-weight: 100;
}



.logo{
  color: white;
  font-size: 55px;
  font-family: "Patua One", "roboto", sans-serif;
  text-decoration: none;
}

nav ul {
display: flex;
font-size: 1.8em;
list-style: none;
color: white;
margin-right: 10px;
text-decoration: none;
width: 13em;
justify-content: space-between;
}

header a{
color: white;
text-decoration: none;
}

  header{
  background: #1976d2;
  padding: 20px 34px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 45px;
}

header nav{
display: flex;
width: 100%;
justify-content: space-between;
flex-flow: row wrap;
align-items: center;
}



@media only screen and (max-width: 745px){
  header nav{
    flex-direction: column;
  }
}
