@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
font-family: 'Roboto', sans-serif;
outline: none;
}

body {
margin: 0;
padding: 0;
}

header li{
float: right;
margin-left: 10px;
font-size: 1.8em;
font-weight: bold;
list-style: none;
color: white;
text-decoration: none;
}

header a{
color: white;
text-decoration: none;
}

header{
height: 100px;
background: #84333D;
}

.locationSearch{
margin-top: 20px;
margin-right: 0;
padding: 0;
border: 0;
width: 10%;
height: 100%;
padding: 10px 20px;
background: white;
border-radius: 3px;
box-shadow: 0px 8px 15px rgba($tundora, 0.1);
}

#container{
width: 50%;
margin:0 auto;
}
