@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
  font-family: 'Lato', sans-serif;
  outline: none;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
}

.logo{
  color: white;
  font-size: 55px;
  font-family: "Patua One", "roboto", sans-serif;
  text-decoration: none;
}

#navList {
display: flex;
font-size: 1.8em;
list-style: none;
color: white;
margin-right: 10px;
text-decoration: none;
width: 13em;
justify-content: space-between;
}

#adListHeader a{
color: white;
text-decoration: none;
}

#adListHeader{
  background: #1976d2;
  padding: 20px 34px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 45px;
}

#adListHeader nav{
display: flex;
width: 100%;
justify-content: space-between;
flex-flow: row wrap;
align-items: center;
}

 #adsListed a{
color: #84333D;
}

#adsListed p{
font-size: .8em;
}

#adsContainer{
  width: 75%;
  margin: 0 auto;
  font-size: 1.7em;
  background: #F5FCFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 34px;
}

#adsContainer li{
list-style: none;
}

#adsContainer a{
text-decoration: none;
}

#postArea{
width: 80%;
margin-left: 10%;
}


h1{
text-decoration: underline;
text-decoration-color: #84333D;
}

#adsList{
  width: 75%;
  margin: 40px auto;
  font-size: 1.7em;
  background: #F5FCFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 34px;
}

.message{
border-bottom: 1px solid lightgrey;
list-style: none;
}

.message a {
color: #1976d2;
}

.ad-text{
  text-align: center;
  font-size: 2em;
  margin: 0;
  text-decoration: underline;
}

@media only screen and (max-width: 745px){
  #adListHeader nav{
    flex-direction: column;
  }
}
